<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!-- common styles -->
<th:block th:replace="common/styles :: stylesFragment"></th:block>

<!-- header -->
<th:block th:replace="fragments/header :: headerFragment"></th:block>

<body id="page-top">

    <div id="wrapper">

      <!-- sidebar -->
      <th:block th:replace="fragments/sidebar :: sidebarFragment"></th:block>

      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <!-- content -->
          <th:block layout:fragment="content"></th:block>
        </div>
      </div>
    </div>

    <!-- common scripts -->
    <th:block th:replace="/common/scripts :: scriptsFragment"></th:block>

</body>

</html>