/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap'); */

#sidebar {
    position: fixed;
    height: 100%;
    border: 1px solid #ccc;
    overflow-y: auto;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    /* background-color: black; */
    border: none;
    /* padding-top: 20px; */
    width: 70px;
    /* border-right: 1px dotted #a6a6a6; */
    box-shadow: 1px 0px 3px 0px #696969;
    overflow-x: hidden;
}

#sidebar.active {
    width: 330px;
}

#sidebar .d-flex {
    height: 100%;
}

#sidebar .sidebar-logo {
    text-align: center;
    border-bottom: 1px solid #ababab;
    display: table;
    height: 100px;
}
#sidebar .sidebar-logo i {
    font-size: 60px;
    color: #ff8d10;
    display: table-cell;
    vertical-align: middle;
}


#sidebar-toggle-btn {
    position: fixed;
    width: 40px;
    height: 40px;
    top: 113px;
    left: 65px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    padding: 0;
}

#sidebar-toggle-btn.active {
    /* margin-left: -180px; */
    /* left: 57px; */

    left: 325px;
}

#sidebar-toggle-btn i {
    color: #a6a6a6;
    font-size: 40px;
}

#sidebar button.nav-link {
    width: 70px;
    height: 70px;
    font-size: 25px;
    border-radius: 0;
    color: #a6a6a6;
}

#sidebar button.nav-link i {
    color: #9a9a9a;
}

#sidebar button.nav-link.active {
    background-color: #ff8d0f;
}
#sidebar button.nav-link.active i {
    color: white;
}

#sidebar .tab-content {
    margin-left: -70px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;

    width: 100%;
    height: 100%;
}
#sidebar .tab-content.active {
    margin-left: 0px;
}

#sidebar .tab-content .tab-pane {
    padding: 10px;
}



#sidebar .nav {
    z-index: 999 !important;
    /* border-right: 1px dotted #a6a6a6; */
    height: 100%;
    margin-right: 0px !important;
    background-color: #323232;
}

#sidebar-header {
    width: 100%;
    height: 100px;
    /* border-bottom: 1px dotted #a6a6a6; */
    display: table;
    background-color: #323232;
}

#sidebar-header span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 40px;
    font-family: 'Anton', sans-serif;
    color: #ff8d0f;
    letter-spacing: 5px;
}
