<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">


<th:block layout:fragment="style">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
</th:block>

    <th:block layout:fragment="content">
        <div id="map"></div>
    </th:block>

<!-- page script -->
<th:block layout:fragment="script">
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=1ejgdmtjix"></script>
    <script th:src="@{/js/main.js}"></script>
</th:block>

</html>